html, body {
    background:#302f2e;
    color:#ddd;
}

#wrapper {
    border-top:3px solid #696969;
    background:-moz-linear-gradient(-90deg, #222 0px, #302f2e 300px);
}

.container {
    width:860px;
    margin:0 auto;
}

.clear {
    clear:both;
}

#moz-tab {
    height:49px;
    width:118px;
    float:right;
    background:url('../img/spritesheet.png') no-repeat 0 0;
}

#moz-logo {
    height:83px;
    width:216px;
    margin-top:45px;
    float:left;
    background:url('../img/spritesheet.png') no-repeat 0px -150px;
}

#ff-download {
    float:right;
    clear:right;
    margin-top:20px;
    color:#fff;
    background:-moz-linear-gradient(90deg, #7aad29, #a4d045), #7aad29;
    background:-webkit-gradient(linear, center bottom, center top, from(#7aad29), to(#a4d045)), #7aad29;
    text-decoration:none;
    font-size:18px;
    padding:8px 12px;
    font-style:italic;
    border-radius:4px;
    min-width:250px;
    text-shadow:0px 1px 0px #acd94d, 0px -1px 0px #6d9d2a;
    box-shadow:0px 3px 0px #6d9d2a;
    position:relative;
}

#ff-download:hover {
    background:-moz-linear-gradient(90deg, #83b633, #a9d74a);
    background:-webkit-gradient(linear, center bottom, center top, from(#83b633), to(#a9d74a));
}

#ff-download:active {
    box-shadow:none;
    top:3px;
}

#ff-download em {
    font-style:normal;
}

#download-arrow {
    float:left;
    width:14px;
    height:12px;
    background:url('../img/spritesheet.png') no-repeat -250px -150px;
    margin:4px 10px 0 0;
}

#ff-download-copy {
    float:right;
    clear:right;
    color:#aaa;
    font-family:'Museo500', Helvetica, Arial, sans-serif;
    font-size:11px;
    margin-top:10px;
}

#ff-download-copy span {
    color:#7AAD29;
}

footer {
    background:#262626;
    overflow:visible;
}

footer .container {
    padding:30px 0;
}

#sharing {
    width:160px;
}

#sharing a {
    display:inline-block;
    height:34px;
    width:35px;
    background:url('../img/spritesheet.png') no-repeat;
}

#sharing .twitter-icon {
    background-position:0px -50px;
}

#sharing .twitter-icon:hover {
    background-position:0px -100px;
}

#sharing .facebook-icon {
    background-position:-50px -50px;
    margin-left:2px;
}

#sharing .facebook-icon:hover {
    background-position:-50px -100px;
}

#newsletter {
    width:350px;
}

#go-mobile {
    width:350px;
    color:#777;
}

#go-mobile .img {
    width:51px;
    height:43px;
    background:url('../img/spritesheet.png') no-repeat -300px -150px;
    float:right;
    margin-top:-20px;
}

#go-mobile span {
    color:#ddd;
}

.footer-section {
    float:left;
    min-width:100px;
    font-family:'Museo500', Helvetica, Arial, sans-serif;
}

.footer-section h3 {
    font-family:'LG', 'Arial Narrow', sans-serif;
    font-size:24px;
    color:#bbb;
    text-transform:uppercase;
    margin-bottom:10px;
}

#go-mobile {
    font-size:14px;
}

#go-mobile a {
    text-decoration:none;
    color:#6eb8cc;
}

#newsletter input {
    padding:8px 10px;
    border-radius:4px;
    border:0;
    background:#d2d2d2;
    color:#777;
    font-size:14px;
    float:left;
}

#newsletter .submit {
    float:left;
    height:34px;
    width:35px;
    background:url('../img/spritesheet.png') no-repeat -100px -50px;
    margin-left:8px;
}

#newsletter .submit:hover, #newsletter .submit:focus {
    background:url('../img/spritesheet.png') no-repeat -100px -100px;
}

#newsletter .submit:hover {
    cursor:pointer;
}

#newsletter .tooltip {
    position:absolute;
    text-align:center;
    font-size:12px;
    background:#262626;
    border:1px solid #555;
    left:0;
    padding:15px;
    box-shadow:0px 3px 5px rgba(0,0,0,0.25);
    border-radius:4px;
    z-index:10000;
    font-family:Georgia, 'Times New Roman', serif;
    font-style:italic;
    opacity:0;
    pointer-events:none;
    top:-70px;
    max-width:225px;
    line-height:150%;
}

#newsletter form {
    position:relative;
}

#newsletter form:hover .tooltip {
    opacity:1;
    top:-90px;
}

#newsletter .error {
    display:block;
    clear:left;
    font-size:12px;
    line-height:0px;
    padding-top:10px;
}

footer aside {
    clear:both;
    padding-top:50px;
    display:block;
    font-family:'Museo500', Helvetica, Arial, sans-serif;
    color:#ddd;
    font-size:12px;
    overflow:auto;
}

footer aside a {
    color:#ddd;
    text-decoration:none;
}

footer aside ul {
    float:left;
}

footer aside ul li {
    float:left;
    padding:0 10px;
    border-left:1px solid #ddd;
}

footer aside ul li a:hover {
    color:#75d0ff;
}

footer aside ul li:first-child {
    padding-left:0;
    border-left:0;
}

footer aside p {
    float:right;
    color:#777;
    font-size:10px;
    max-width:350px;
    line-height:150%;
}

footer aside p a {
    color:#ddd;
}

footer aside p a:hover {
    color:#75d0ff;
}

body section {
    padding-bottom:50px;
    min-height:600px;
    overflow:auto;
}

/* NAVIGATION */

header nav {
    clear:both;
    height:50px;
    display: block;
    padding-bottom:20px;
    padding-top:30px;
    line-height:26px;
}

header nav a {
    text-decoration:none;
    color:#bbb;
    font-size:16px;
    font-family:Georgia, 'Times New Roman', sans-serif;
    margin-left:20px;
    padding:6px 9px;
    font-style:italic;
}

header nav a:hover {
    cursor:pointer;
    color:#ddd;
}

header nav a:first-child {
    margin-left:0px;
}

header nav a div {
    height:29px;
    width:28px;
}

header nav .left, header nav .right {
    width:50%;
    float:left;
    position:relative;
}

header nav .left {
    left:-50px;
}

header nav .right {
    right:-50px;
}

#back-to-home div {
    background:url('../img/spritesheet.png') no-repeat -150px -100px;
    float:left;
    margin-right:10px;
}

#back-to-home:hover div {
    background-position:-250px -100px;
}

#to-firefox-page div, #to-spark-page div {
    background:url('../img/spritesheet.png') no-repeat -200px -100px;
    float:right;
    margin-left:10px;
}

#to-firefox-page:hover div {
    background-position:-300px -100px;
}

#to-firefox-page, #to-spark-page {
    float:right;
}

header nav a {
    display:none;
}

.firefox #back-to-home, .spark #back-to-home, .spark #to-firefox-page, .firefox #to-spark-page {
    display:block;
}

.firefox #to-firefox-page, .spark #to-spark-page {
    display:none;
}

#mask {
    position:fixed;
    height:1000px;
    width:100%;
    background:-moz-radial-gradient(rgba(0,0,0,0.25) 50%, rgba(0,0,0,1));
    top:0;
    left:0;
    z-index:20000;
    display:none;
}

#mask:hover {
    cursor:pointer;
}

.popup {
    position:fixed;
    top:50%;
    left:50%;
    padding:20px;
    background:#262626;
    border:1px solid #555;
    box-shadow:0px 5px 5px rgba(0,0,0,0.25);
    z-index:20000;
    margin-top:-182px;
    margin-left:-320px;
    display:none;
}

.popup .close {
    height:36px;
    width:36px;
    position:absolute;
    top:-19px;
    right:-19px;
    background:url('../img/spritesheet.png') no-repeat -150px 0;
}

.popup .close:hover {
    cursor:pointer;
}

.no-js {
    padding:10px 0;
    color:#eee;
    background:#ee3939;
    top:0;
    left:0;
    width:100%;
    text-align:center;
    font-family:'Museo500', 'Trebuchet MS', arial, sans-serif;
}