body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}

html, body {
    background:#302f2e;
    color:#ddd;
    font-family:'Museo500', 'Trebuchet MS', sans-serif;
    text-align:center;
}

#wrapper {
    max-width:400px;
    margin:0 auto;
    padding:0 15px;
}

.page-nav {
    overflow:auto;
    text-align:center;
    padding:20px 0;
    clear:both;
}

.page-nav div.left, .page-nav div.middle, .page-nav div.right {
    float:left;
}

.page-nav div.left, .page-nav div.right {
    width:42.5%;
}

.page-nav div.middle {
    width:15%;
}

.page-nav div.middle {
    margin-top:3px;
}

.page-nav a span.nav {
    display: block;
    background:#1b1b1b;
    min-width:32px;
    border-bottom:1px solid #504f4e;
    border-radius:5px;
    color:#ddd;
    text-decoration:none;
    font-family:'Museo500', 'Trebuchet MS', arial, sans-serif;
    text-transform:uppercase;
    font-size:12px;
    position:relative;
}

.page-nav ul {
    width:60px;
    text-align:center;
    margin:0 auto;
}

.page-nav ul li {
    float:left;
    display:block;
    width:8px;
    height:8px;
    border:1px solid #909090;
    border-radius:5px;
    -webkit-border-radius:5px;
    margin:5px 0 0 10px;
}

.page-nav ul li.one  {
    margin-left:0;
}

#sharing .page-nav ul li:nth-child(2), #around .page-nav ul li:nth-child(3), #hall .page-nav ul li:first-child {
    background:#1b1b1b;
    border-bottom:1px solid #909090;
    border-top:1px solid transparent;
    border-left:0 solid transparent;
    border-right:0 solid transparent;
}

.page-nav a {
    position:relative;
    top:-2px;
    text-decoration:none;
}

.page-nav a.left {
    float:left;
    text-align:right;
    padding:2px 2px 2px 0;
}

.page-nav a.left span {
    float:left;
    padding:8px 12px 6px 4px;
}

.page-nav a.right span {
    float:left;
    padding:8px 4px 6px 12px;
}

.page-nav a.right {
    float:right;
    text-align:left;
    padding:2px 0 2px 2px;
}

.page-nav .left .nav {
    border-radius:0 5px 5px 0;
    line-height:15px;
}

.page-nav .right .nav {
    border-radius:5px 0 0 5px;
    line-height:15px;
}

.page-nav a span.arrow {
    width:18px;
    height:30px;
    top:0;
    pointer-events:none;
    display:block;
    padding:0;
    margin:none;
    border:0;
}

.page-nav a .arrow.left {
    left:0;
    background:url('../img/mobile/spritesheet.png') no-repeat 0 0;
}

.page-nav a .arrow.right {
    right:0;
    background:url('../img/mobile/spritesheet.png') no-repeat -18px 0;
}

footer {
    padding:30px 0;
    background:#222;
}

footer .title {
    font-family:'LG', 'Arial Narrow', sans-serif;
    font-size:2em;
    text-transform:uppercase;
    display:block;
}

footer #social-media {
    margin:0 auto;
    width:50%;
}

footer #social-media a {
    display:inline-block;
    width:35px;
    height:34px;
    margin:20px 10px;
}

footer a.twitter-icon {
    background:url('../img/mobile/spritesheet.png') no-repeat 0 -150px;
}

footer a.facebook-icon {
    background:url('../img/mobile/spritesheet.png') no-repeat -50px -150px;
}

footer #legal {
    border-top:1px solid #444;
    margin:0 30px;
    padding:20px 0 0;
    clear:both;
}

footer #legal a {
    text-decoration:none;
    line-height:200%;
    color:#bbb;
}

footer #legal small {
    text-align:left;
    font-size:0.8em;
    color:#666;
    margin-top:20px;
    display:block;
    line-height:150%;
}

footer #legal small a {
    line-height:normal;
}

.block {
    margin:30px 0;
    clear:both;
    border-top:1px solid #555;
    padding:20px 0;
}

a.button {
    color:#302f2e;
    text-decoration:none;
    padding:10px;
    border-radius:4px;
    display:block;
    max-width:240px;
    background:-moz-linear-gradient(90deg, #97F067, #A3FF71);
    background:-webkit-gradient(linear, center bottom, center top, from(#97F067), to(#A3FF71));
    box-shadow:0px 4px 0px #41A43A, 0px 2px 8px rgba(0,0,0,0.6);
    -webkit-box-shadow:0px 4px 0px #41A43A, 0px 2px 8px rgba(0,0,0,0.6);
    -o-box-shadow:0px 4px 0px #41A43A, 0px 2px 8px rgba(0,0,0,0.6);
    -ms-box-shadow:0px 4px 0px #41A43A, 0px 2px 8px rgba(0,0,0,0.6);
    -moz-box-shadow:0px 4px 0px #41A43A, 0px 2px 8px rgba(0,0,0,0.6);
    font-family:'Georgia', 'Times New Roman', serif;
    font-size:16px;
    font-style:italic;
    text-align:center;
    margin:20px auto;
}

a.button em {
    font-family:'LG', 'Arial Narrow', sans-serif;
    font-size:30px;
    font-style:normal;
    text-transform:uppercase;
    display:block;
}

#newsletter {
    margin:30px auto 40px;
}

#newsletter form {
    max-width:240px;
    margin:0 auto;
}

#newsletter input {
    float:left;
}

#newsletter p {
    margin:10px 20px 10px;
    color:#bbb;
}

#newsletter input[type=email] {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    font-size: 1em;
    height: 20px;
    margin: 0 10px 0 0;
    padding: 5px 13px;
    width: 70%;
    color:#262626;
}

#newsletter input[type=submit] {
    height:30px;
    width:30px;
    background:url('../img/mobile/spritesheet.png') no-repeat -300px -300px;
    border:0;
}

#newsletter .error, #newsletter .success {
    clear:both;
    display:block;
    padding:10px 0 0;
}

#newsletter .success {
    display:none;
}

#newsletter .error {
    color:#e83939;
    height:0;
}

footer a.button {
    margin-bottom:40px;
}