.no-opacity .home #spark-content, 
.no-opacity .home #firefox-content,
.no-opacity .spark #firefox-content,
.no-opacity .spark #home,
.no-opacity .firefox #spark-content,
.no-opacity .firefox #home,
.no-opacity .spark-1 #spark-2,
.no-opacity .spark-1 #spark-3,
.no-opacity .spark-2 #spark-1,
.no-opacity .spark-2 #spark-3,
.no-opacity .spark-3 #spark-1,
.no-opacity .spark-3 #spark-2,
.no-opacity .layer-1 #layer-2,
.no-opacity .layer-1 #layer-3,
.no-opacity .layer-1 #layer-4,
.no-opacity .layer-2 #layer-1,
.no-opacity .layer-2 #layer-3,
.no-opacity .layer-2 #layer-4,
.no-opacity .layer-3 #layer-1,
.no-opacity .layer-3 #layer-2,
.no-opacity .layer-3 #layer-4,
.no-opacity .layer-4 #layer-1,
.no-opacity .layer-4 #layer-2,
.no-opacity .layer-4 #layer-3,
.no-opacity .tooltip {
    visibility:hidden;
}

.no-opacity #share-history-graph:hover .tooltip,
.no-opacity #bar-chart li:hover .tooltip,
.no-opacity #active-countries li:hover .tooltip,
.no-opacity #spark-2 .block-1 li:hover .tooltip,
.no-opacity #spark-3 .block-1 li:hover .tooltip,
.no-opacity #spark-3 #badges li:hover .tooltip,
.no-opacity #spark-1 .block-2 .tooltip.active,
.no-opacity #spark-3 .block-2 .tooltip.active,
.no-opacity #layer-4 .block-3 li:hover .tooltip,
.no-opacity #cutting-edge-illu li:hover .tooltip,
.no-opacity #newsletter form:hover .tooltip
 {
    visibility:visible;
}

.no-cssgradients #spark-button {
    background:url('../img/fallbacks/yellow-bg.png') repeat-x 0 0;
}

.no-cssgradients #firefox-button {
    background:url('../img/fallbacks/blue-bg.png') repeat-x 0 0;
}

.no-cssgradients #ff-download {
    background:url('../img/fallbacks/green-bg.png') repeat-x 0 0;
}

.no-boxshadow #spark-button {
    border-bottom:3px solid #ad9d35;
}

.no-boxshadow #firefox-button {
    border-bottom:3px solid #346b88;
}

.no-boxshadow #ff-download {
    border-bottom:3px solid #779c00;
}