/*Structure*/

#layer-3 .block-2, #layer-3 .block-3, #layer-3 .block-4, #layer-3 .block-5 {
    float:left;
}

#layer-3 .block-2, #layer-3 .block-4, #layer-3 .block-5 {
    width:200px;
    padding-right:40px;
}

#layer-3 .block-3 {
    width:200px;
}

#layer-3 .block-4, #layer-3 .block-5 {
    clear:left;
}

#layer-3 .block-6 {
    float:right;
}


/*Content*/

#sync-main-illu {
    height:200px;
    width:200px;
    background:#444;
}

#layer-3 .title {
    font-style:normal;
    font-family:'Museo500', 'Trebuchet MS', arial, sans-serif;
    text-transform:uppercase;
}

#firefox-content #layer-3 .block p {
    margin-top:5px;
    font-size:14px;
    line-height:18px;
}

#layer-3 .block-4, #layer-3 .block-5, #layer-3 .block-6 {
    margin-top:20px;
}

#layer-3 .block-6 {
    margin-top:-70px;
}

#layer-3 .block-6 .video-thumbnail {
    height:150px;
    width:200px;
    background:#444;
}

#layer-3 .block-6 span {
    padding:15px 0;
    background:#232323;
    box-shadow:0px 2px 5px rgba(0,0,0,0.25);
    border:1px solid #666;
    border-radius:4px;
    font-size:14px;
    font-style:italic;
    font-family:Georgia, 'Times New Roman', serif;
    margin-top:20px;
    display:block;
    text-align:center;
}