#firefox-content {
    height:600px;
    clear:both;
    font-family:'Museo500', Helvetica, Arial, sans-serif;
    margin-top:-650px;
    opacity:1;
}

#firefox-content a {
    color:#75d0ff;
    text-decoration:none;
}

#firefox-content a:hover {
    color:#9edeff;
}

#firefox-content article {
    width:440px;
    float:right;
    height:600px;
    font-size:14px;
    position:relative;
    z-index:100;
}

#layer-2, #layer-3, #layer-4 {
    margin-top:-600px;
}

#layers {
    width:305px;
    height:600px;
    position:relative;
}

#layers li {
    width:305px;
    height:185px;
    position:absolute;
    top:218px;
    opacity:0;
    left:0;
}

.layer:hover {
    cursor:pointer;
}

#phone-layer-1 {
    background:url('../img/layers.png') no-repeat 0 0;
    z-index:40;
}

#phone-layer-2 {
    background:url('../img/layers.png') no-repeat 0 -200px;
    z-index:30;
}

#phone-layer-3 {
    background:url('../img/layers.png') no-repeat 0 -400px;
    z-index:20;
}

#phone-layer-4 {
    background:url('../img/layers.png') no-repeat 0 -600px;
    z-index:10;
}

#firefox-content nav {
    float:left;
}

#separator {
    float:left;
    height:550px;
    width:50px;
    position:relative;
}

#separator .line {
    float:right;
    width:1px;
    background:#777;
    position:relative;
    z-index:100;
    height:550px;
}

#separator .arrow {
    position:absolute;
    width:26px;
    height:49px;
    right:0;
    top:47px;
    background:url('../img/spritesheet.png') no-repeat -350px 0px;
    z-index:200;
}

#separator .arrow.layer-1  {top:47px;}
#separator .arrow.layer-2  {top:165px;}
#separator .arrow.layer-3  {top:287px;}
#separator .arrow.layer-4  {top:407px;}

#firefox-content article h1 {
    font-family:'LG', 'Arial Narrow', sans-serif;
    font-size:48px;
    text-shadow:2px -1px 0px #302f2e, 3px -3px 0px #555;
    text-transform:uppercase;
}

#firefox-content header {
    margin-bottom:40px;
}

#firefox-content header.block p {
    font-family:'Museo500', 'Trebuchet MS', arial, sans-serif;
    font-style:normal;
    font-size:14px;
    line-height:normal;
    margin:0;
}

#firefox-content .title {
    font-family:Georgia, 'Times New Roman', serif;
    font-style:italic;
    display:block;
    line-height:18px;
}

#firefox-content .title em {
    font-family:'Museo500', 'Trebuchet MS', Arial, sans-serif;
    text-transform:uppercase;
    font-style:normal;
    display:block;
}

#firefox-content .block p {
    font-family:Georgia, 'Times New Roman', serif;
    font-style:italic;
    color:#bbb;
    font-size:12px;
    line-height:133%;
    margin-top:15px;
}

.layer-1 #layer-1, .layer-2 #layer-2, .layer-3 #layer-3, .layer-4 #layer-4 {
    z-index:1000;
}