#phone-wrapper {
    position:relative;
    top:130px;
    float:left;
    width:355px;
    z-index:100;
}
    
#light {
    display:block;
    position:absolute;
    z-index:20;
    left:33px;
    top:-120px;
}
    
#phone {
    background: url("../img/phone.png") no-repeat scroll 0 0 transparent;
    height: 194px;
    left: 0;
    position: relative;
    top: 85px;
    width: 305px;
    z-index: 10;
}

#ff-preview {
    width:231px;
    height:134px;
    position:absolute;
    background:url('../img/ff-preview.png') no-repeat 0 0;
    top:18px;
    left:41px;
    opacity:0;
}

.ff-preview #ff-preview {
    opacity:1;
}

#spark {
    -moz-transform: skewX(-45deg) rotate(20deg) scaleY(0.4) scaleX(0.7);
    -webkit-transform: skewX(-45deg) rotate(20deg) scaleY(0.4) scaleX(0.7);
    position: absolute;
    z-index: 15;
    left:32px;
    top:51px;
    -moz-transition:0.5s all ease;
}

#home {
    clear:both;
    opacity:1;
}

#home .container {
    height:600px;
}

#main-copy {
    float:right;
    width:505px;
    text-align:center;
    margin-top:30px;
    position:relative;
}

#main-copy h1 {
    font-family:'LG', 'Arial Narrow', sans-serif;
    color:#ddd;
    text-transform:uppercase;
}

h1 .first-line {
    font-size:80px;
    line-height:80%;
    color:#f7e35f;
    text-shadow:2px -1px 0px #302f2e, 3px -3px 0px #666;
}

h1 .second-line {
    font-family:'Georgia', 'Times New Roman', serif;
    font-style:italic;
    text-transform:none;
    font-size:16px;
    display:block;
    line-height:40px;
}

h1 .second-line img {
    padding:0 10px;
    position:relative;
    top:-4px;
}

h1 .third-line {
    font-size:40px;
    line-height:120%;
    text-shadow:2px -1px 0px #302f2e, 3px -3px 0px #666;
}

#main-copy {
    font-family:Georgia, 'Times New Roman', serif;
}

#main-copy h2 {
    margin-top:30px;
    font-style:italic;
    color:#eee;
    font-size:21px;
    text-align:left;
    line-height:35px;
    width:90%;
    margin: 30px auto 0;
}

#main-copy p {
    color:#bbb;
    font-size:18px;
    text-align:left;
    line-height:120%;
    width:90%;
    margin: 0 auto;
}

#ctas a {
    color:#302f2e;
    text-decoration:none;
    padding:10px;
    border-radius:4px;
}

#spark-button {
    float:left;
    display:block;
    width:40%;
    background:-moz-linear-gradient(90deg, #f7e35e, #ffed6e);
    background:-webkit-gradient(linear, center bottom, center top, from(#f7e35e), to(#ffed6e));
    box-shadow:0px 4px 0px #ad9d35, 0px 2px 8px rgba(0,0,0,0.6);
}

#spark-button:hover {
    background:-moz-linear-gradient(90deg, #fbe96f, #feef86);
    background:-webkit-gradient(linear, center bottom, center top, from(#fbe96f), to(#feef86));
}

#firefox-button {
    float:right;
    display:block;
    width:40%;
    background:-moz-linear-gradient(90deg, #5398bc, #88bdd9);
    background:-webkit-gradient(linear, center bottom, center top, from(#5398bc), to(#88bdd9));
    box-shadow:0px 4px 0px #346b88, 0px 2px 8px rgba(0,0,0,0.6);
}

#firefox-button:hover {
    background:-moz-linear-gradient(90deg, #5ba1c5, #94c9e4);
    background:-webkit-gradient(linear, center bottom, center top, from(#5ba1c5), to(#94c9e4));
}

#ctas {
    margin-top:30px;
    font-style:italic;
    font-size:13px;
}

#ctas em {
    display:block;
    font-family:'LG', 'Arial Narrow', sans-serif;
    font-size:30px;
    text-transform:uppercase;
    font-style:normal;
    padding-top:3px;
    text-shadow:0px 1px 0px rgba(255,255,255,0.4);
    pointer-events:none;
}

#ctas em span {
    font-family:Georgia, 'Times New Roman', serif;
    font-style:italic;
    text-transform:none;
    font-size:18px;
    position:relative;
    top:-5px;
}

#ctas a:hover {
    cursor:pointer;
}

#ctas a:active {
    position:relative;
    top:4px;
    box-shadow:none;
}

.success {
    display:none;
}

#small-phones {
    height:178px;
    width:424px;
    background:url('../img/small-phones.png') no-repeat 0 0;
    margin:0 0 -178px -40px;
}

#light-ray {
    height:366px;
    width:250px;
    background:url('../img/light.png') no-repeat 0 0;
    position:absolute;
    left:32px;
    top:-125px;
    z-index:500;
    opacity:1;
}

#particles {
    position:absolute;
    left:32px;
    top:-140px;
    z-index:600;
}