/*Structure*/

#spark-3 .block-1 {
    float:left;
    width:245px;
}

#spark-3 .block-2, #spark-3 .block-3, #spark-3 .block-4 {
    float:left;
    width:210px;
    margin-left:40px;
}

#spark-3 .block3, #spark-3 .block-4 {
    margin-top:60px;
}

/*Content*/

#spark-3 .title {
    text-transform:uppercase;
    display:block;
    font-size:14px;
}

#spark-3 .title em {
    color:#ede0ab;
}

#spark-3 .block-2, #spark-3 .block-3, #spark-3 .block-4 {
    text-align:center;
}

#spark-3 .block-1 ol {
    margin-top:20px;
    border-top:1px solid #666;
    font-size:13px;
}

#spark-3 .block-1 li {
    border-bottom:1px solid #666;
    padding:13px 0;
    position:relative;
}

.flag {
	width: 16px;
	height: 11px;
	background:url('../img/flags.png') no-repeat;
	float:left;
	margin:1px 10px 0 0;
}

#spark-3 .block-1 li .star {
    height:19px;
    width:20px;
    background:url('../img/sprites-spark.png') no-repeat -150px -150px;
    float:right;
    margin:-4px 3px 0 0;
}

#spark-3 .block-1 li .shares {
    float:right;
}

#spark-3 p {
    margin-top:15px;
    font-size:12px;
    color:#bbb;
    font-style:italic;
    font-family:Georgia, 'Times New Roman', serif;
    line-height:150%;
}

#spark-3 .block-2 canvas {
    display:block;
    margin:30px auto 0 auto;
}

#spark-3 .block-2 .tooltip {
    width:78px;
    margin-left:-40px;
}

#spark-3 .block-2 .breakdown li:nth-child(1) .tooltip {bottom:-10px;left:82%;}
#spark-3 .block-2 .breakdown li:nth-child(1) .tooltip.active {bottom:10px;}
#spark-3 .block-2 .breakdown li:nth-child(2) .tooltip {bottom:-60px;}
#spark-3 .block-2 .breakdown li:nth-child(2) .tooltip.active {bottom:-40px;}
#spark-3 .block-2 .breakdown li:nth-child(3) .tooltip {bottom:-10px;left:17%;}
#spark-3 .block-2 .breakdown li:nth-child(3) .tooltip.active {bottom:10px;}
#spark-3 .block-2 .breakdown li:nth-child(4) .tooltip {bottom:30px;left:38%;}
#spark-3 .block-2 .breakdown li:nth-child(4) .tooltip.active {bottom:50px;}

#spark-3 .block-2 .tooltip.active {
    opacity:1;
    bottom:0px;
} 

#spark-3 .block-2 .breakdown {
    height:150px;
    text-align:center;
    margin:-126px auto 0 auto;
    position:relative;
    font-family:'LG', 'Arial Narrow', sans-serif;
    color:#eee;
    text-shadow:0px 2px 0px rgba(0,0,0,0.25);
    width:126px;
}

#spark-3 .block-2 .tooltip strong {
    font-family:'LG', 'Arial Narrow', sans-serif;
    font-size:24px;
}

#spark-3 .block-2 .tooltip span {
    font-family:'Museo500', 'TrebuchetMS', sans-serif;
    font-style:normal;
    text-transform:uppercase;
    font-size:12px;
}

#spark-3 .big-number {
    display:block;
    font-size:48px;
    font-family:'LG', 'Arial Narrow', sans-serif;
}

#spark-3 .block-1 .tooltip {
    width:200px;
    left:380px;
    opacity:0;
    bottom:-14px;
    padding:15px;
    line-height:150%;
}

#spark-3 .block-1 li:hover .tooltip {
    opacity:1;
    left:360px;
}

.arrow.left {
    height:12px;
    width:8px;
    background:url('../img/spritesheet.png') no-repeat -365px -100px;
    position:absolute;
    top:50%;
    margin-top:-6px;
    left:-8px;
}

#spark-3 .block-3 {
    margin-top:30px;
}

#spark-3 #badges li {
    text-align:center;
    font-family:'LG', 'Arial Narrow', sans-serif;
    font-size:30px;
    margin-bottom:20px;
    float:left;
    width:70px;
    margin-left:23px;
}

#spark-3 #badges .number {
    display:block;
}

#spark-3 #badges li .badge-img {
    height:70px;
    width:70px;
    margin-top:12px;
    position:relative;
}

#spark-3 #badges li.one .badge-img {
    background:url('../img/sprites-spark.png') no-repeat 0 -450px;
}

#spark-3 #badges li.two .badge-img {
    background:url('../img/sprites-spark.png') no-repeat -100px -450px;
}

#spark-3 .block-4 .title {
    clear:both;
}

#spark-3 #badges .tooltip {
    width:178px;
    bottom:auto;
    top:90px;
    margin-left:-90px;
    text-align:left;
}

#spark-3 #badges li:hover .tooltip {
    opacity:1;
    top:70px;
}

#spark-3 #badges .tooltip .badge-name {
    font-family:'Museo500', 'Trebuchet MS', sans-serif;
    font-style:normal;
    color:#ddd;
    padding:0px 10px;
    margin-bottom:3px;
    display:block;
}

#spark-3 #badges .tooltip p {
    margin:0;
    padding:0px 10px;
    line-height:130%;
}

#spark-3 .badge-img canvas {
    margin-top:-70px;
    height:80px;
    width:80px;
    margin-top:-5px;
    margin-left:-5px;
}