/*Structure*/

#spark-2 .block-1 {
    width:280px;
    text-align:left;
    float:left;
}

#spark-2 .block-2 {
    float:left;
    width:220px;
}

#spark-2 .block-3 {
    clear:left;
    margin-top:60px;
    float:left;
    width:280px;
}

#spark-2 .block-4 {
    float:left;
    width:220px;
    margin-top:60px;
}

#spark-2 .block-5 {
    clear:both;
    padding-top:60px;
}

/*Content*/

#spark-2 .title {
    text-transform:uppercase;
    font-size:14px;
}

#spark-2 .title em {
    color:#ede0ab;
}

#active-cities {
    height:125px;
    width:108px;
    background:url('../img/sprites-spark.png') no-repeat 0px -150px;
    margin:20px 0 0 20px;
}
#active-cities ol {
    height:68px;
    width:70px;
    background:url('../img/sprites-spark.png') no-repeat -200px -50px;
    position:relative;
    overflow:visible;
    top:30px;
    left:18px;
}

#active-cities ol li {
    position:absolute;
    height:16px;
    width:16px;
    background:url('../img/sprites-spark.png') no-repeat -284px -50px;
}

#active-cities ol li.active {
    background-position:-284px -84px;
}

#active-cities li.one {top:-34px;left:29px}
#active-cities li.two {top:-7px;left:81px}
#active-cities li.three {top:54px;left:81px}
#active-cities li.four {top:84px;left:29px}
#active-cities li.five {top:54px;left:-24px}
#active-cities li.six {top:-7px;left:-24px}

#spark-2 .big-number {
    font-size:48px;
    font-family:'LG', 'Arial Narrow', sans-serif;
    float:left;
}

#spark-2 .block-2 .title, #spark-2 .block-3 .title,
#spark-2 .block-4 .title {
    float:left;
    font-family:'Georgia', 'Times New Roman', serif;
    font-style:italic;
    text-transform:none;
    padding:8px 0 0 10px;
}

#spark-2 .block-2 .title em, #spark-2 .block-3 .title em,
#spark-2 .block-4 .title em  {
    display:block;
    font-family:'Museo500', 'Trebuchet MS', Arial, sans-serif;
    font-style:normal;
    text-transform:uppercase;
    padding-bottom:2px;
}

#spark-2 .block-2 canvas {
    background:#444;
    height:125px;
    width:215px;
    clear:both;
    display:block;
}

#spark-2 .block-5 .title {
    display:block;
    text-align:center;
}

#active-countries li:nth-child(1) {
    background:url('../img/sprites-spark.png') no-repeat -200px -150px;
}

#active-countries li:nth-child(2) {
    background:url('../img/sprites-spark.png') no-repeat -150px -300px;
}

#active-countries li:nth-child(3) {
    background:url('../img/sprites-spark.png') no-repeat 0px -300px;
}

#spark-2 .block-1 li:hover {
    background-position:-284px -84px;
}

#spark-2 .block-1 li:hover .tooltip {
    bottom:-70px;
    opacity:1;
}

#bar-chart {
    clear:both;
    height:115px;
}

#bar-chart li {
    font-size:12px;
    text-align:center;
    float:left;
    width:30px;
    margin-left:8px;
    height:115px;
    position:relative;
}

#bar-chart li:first-child {
    margin-left:0;
}

#bar-chart li span {
    display:block;
    position:absolute;
    width:30px;
    text-align:center;
}

#bar-chart li div.bar {
    background:#69aacf;
    width:20px;
    left:5px;
    position:absolute;
    bottom:0px;
}

#bar-chart .tooltip {
    width:119px;
    bottom:-80px;
    margin-left:-60px;
    font-family:'Museo500', 'Trebuchet MS', sans-serif;
    text-transform:uppercase;
    font-style:normal;
}

#bar-chart li:hover .tooltip {
    opacity:1;
    bottom:-60px;
} 

#active-countries {
    margin-top:20px;
    width:100%;
    height:150px;
}

#active-countries li {
    float:left;
    width:30%;
    margin-left:3.33%;
    background:#444;
    height:150px;
    text-align:center;
    position:relative;
}

#active-countries .number {
    font-family:'LG', 'Arial Narrow', sans-serif;
    font-size:24px;
    color:#eee;
    text-shadow:0px 2px 0px rbga(0,0,0,0.25);
    display:block;
    margin-top:62px;
}

#active-countries li:nth-child(1) .number {margin-left:-35px;}
#active-countries li:nth-child(2) .number {margin-left:-4px;}
#active-countries li:nth-child(3) .number {margin-left:25px;}

#active-countries .tooltip {
    opacity:0;
    position:absolute;
    z-index:10000;
    pointer-events:none;
    bottom:-30px;
    width:148px;
    margin-left:-75px;
    text-transform:uppercase;
    font-style:normal;
    font-family:'Museo500', 'Trebuchet MS', sans-serif;
}

#active-countries li:nth-child(1) .tooltip {left:35%;}
#active-countries li:nth-child(3) .tooltip {left:65%;}

#active-countries li:hover .tooltip {
    opacity:1;
    bottom:-10px;
}