#spark-1 {
    text-align:center;
}

#spark-1 .block {
    float:left;
}

#spark-1 .block-1 {
    width:250px;
    text-align:center;
}

#spark-1 .block-1 div {
    float:left;
    margin-bottom:20px;
    padding-left:5px;
}

#spark-1 .block-1 div:first-child {
    margin-left:-10px;
}

#spark-1 .block-1 .number {
    font-family:'LG', 'Arial Narrow', sans-serif;
    font-size:72px;
    display:block;
    position:relative;
}

#spark-1 .block-1 .small-text {
    display:block;
    width:200px;
    font-style:italic;
    font-family:'Georgia', 'Times New Roman', serif;
}

#spark-1 .block-1 .small-text em {
    text-transform:uppercase;
    color:#ede0ab;
    font-size:14px;
    font-family:'Museo500', 'Trebuchet MS', sans-serif;
    font-style:normal;
}

#total-shares-img {
    background-position:0 0;
    height:115px;
    width:157px;
    display:block;
    margin:20px 0 0;
    clear:left;
}

#spark-1 .block-2 {
    width:250px;
}

#spark-1 .block-2 em {
    color:#ede0ab;
    text-transform:uppercase;
    display:block;
    font-size:14px;
    font-style:normal;
    font-family:'Museo500', Helvetica, Arial, sans-serif;
    line-height:150%;
}

#spark-1 .block-2 .title {
    font-family:Georgia, 'Times New Roman', serif;
    font-style:italic;
}

#spark-1 .block-2 canvas {
    clear:both;
    display:block;
    margin:20px auto 0;
}

#spark-1 .block-2 .breakdown {
    height:150px;
    text-align:center;
    margin:-150px auto 0 auto;
    position:relative;
    font-family:'LG', 'Arial Narrow', sans-serif;
    color:#eee;
    text-shadow:0px 2px 0px rgba(0,0,0,0.25);
    width:150px;
}

#spark-1 .block-2 .breakdown li {
    position:absolute;
}

#spark-1 .block-2 .breakdown li:nth-child(1) {
    font-size:36px;
    top:76px;
    left:88px;
}

#spark-1 .block-2 .breakdown li:nth-child(2) {
    font-size:24px;
    top:42px;
    left:21px;
}

#spark-1 .block-2 .breakdown li:nth-child(3) {
    font-size:24px;
    top:16px;
    left:47px;
}

#spark-1 .block-2 li:hover {
    cursor:default;
}

#spark-1 .block-2 li .tooltip {
    width:118px;
    margin-left:-60px;
    bottom:-70px;
}

#spark-1 .block-2 .tooltip.active {
    opacity:1;
    bottom:-50px;
}

#spark-1 .block-3 {
    clear:both;
    text-transform:uppercase;
    color:#ede0ab;
    font-size:14px;
    text-align:left;
    margin:40px 0;
}

#share-history-graph {
    margin-top:10px;
    position:relative;
}

#share-history-graph ol {
    display:none;
}

#share-history-graph .tooltip {
    width:118px;
    margin-left:-60px;
    bottom:auto;
    color:#ddd;
    margin-top:-80px;
}

#share-history-graph .tooltip .number {
    font-family:'LG', 'Arial Narrow', sans-serif;
    font-size:24px;
    font-style:normal;
}

#share-history-graph .tooltip span {
    text-transform:none;
}

#share-history-graph:hover .tooltip {
    opacity:1;
}

#spark-1 .block-4 {
    clear:left;
    width:250px;
}

#spark-1 .block-4, #spark-1 .block-5 {
    float:left;
    font-size:36px;
    color:#ddd;
    font-family:'LG', 'Arial Narrow', sans-serif;
}

#spark-1 .block-4 .number, #spark-1 .block-5 .number {
    float:left;
    min-width:55px;
}

#spark-1 .block-4 span, #spark-1 .block-5 span {
    float:left;
    margin-left:10px;
    font-family:'Georgia', 'Times New Roman', serif;
    font-style:italic;
    font-size:14px;
    text-align:left;
    line-height:120%;
}

#spark-1 .block-4 span em, #spark-1 .block-5 span em {
    font-family:'Museo500', Helvetica, Arial, sans-serif;
    font-style:normal;
    text-transform:uppercase;
    display:block;
    color:#ede0ab;
    
}

#twitter-shares-img, #facebook-shares-img {
    float:left;
}

#twitter-shares-img.sprite {
    width:56px;
    height:42px;
    background-position:-250px 0;
}

#facebook-shares-img.sprite {
    width:45px;
    height:43px;
    background-position:-200px 0;
}

#spark-1 .block-5 {
    width:220px;
    border-left:1px solid #444;
    padding-left:29px;
}