#spark-content, #firefox-content, #home {
    pointer-events:none;
    z-index:100;
}

#spark-content, #firefox-content {
    opacity:0;
}

.home #home {
    opacity:1;
    pointer-events:auto;
    z-index:1000;
}

.firefox #firefox-content {
    opacity:1;
    pointer-events:auto;
    z-index:1000;
}

.spark #spark-content {
    opacity:1;
    pointer-events:auto;
    z-index:1000;
}

#spark-1 .block {
    opacity:0;
}

.spark-1 #spark-1 .block {
    opacity:1;
}

/* Home Hidden state */
#phone-wrapper {
    opacity:0;
}

#main-copy {
    opacity:0;
    top:-30px;
}

/* Home Visible state */
.home #phone-wrapper {
    opacity:1;
}

.home #main-copy {
    top:0;
    opacity:1;
}