header nav div.left, header nav.right {
    opacity:1;
}

header nav div.left {
    left:0;
}

header nav div.right {
    right:0;
}

.home header nav .left, .home header nav .right {
    opacity:0;
}

.home header nav .left {
    left:-50px;
}

.home header nav .right {
    right:-50px;
}

#spark-content, #firefox-content, #home {
    pointer-events:none;
    z-index:100;
    opacity:0;
}

#spark-content {
    opacity:0;
}

.home #home {
    opacity:1;
    pointer-events:auto;
    z-index:1000;
}

.firefox #firefox-content {
    opacity:1;
    pointer-events:auto;
    z-index:1000;
}

.spark #spark-content {
    opacity:1;
    pointer-events:auto;
    z-index:1000;
}

#spark-1 .block, #spark-2 .block, #spark-3 .block {
    opacity:0;
}

.spark-1 #spark-1 .block, .spark-2 #spark-2 .block, .spark-3 #spark-3 .block {
    opacity:1;
}

#layer-1 .block, #layer-2 .block, #layer-3 .block, #layer-4 .block {
    opacity:0;
}

.layer-1 #layer-1 .block, .layer-2 #layer-2 .block, .layer-3 #layer-3 .block, .layer-4 #layer-4 .block {
    opacity:1;
}

/* Home Hidden state */
#phone-wrapper {
    opacity:0;
}

#main-copy {
    opacity:0;
    top:-30px;
}

/* Home Visible state */
.home #phone-wrapper {
    opacity:1;
}

.home #main-copy {
    top:0;
    opacity:1;
}

/* Spark Hidden State */
#spark-content aside {
    position:relative;
    left:-60px;
    opacity:0;
}

#spark-content nav li {
    opacity:0;
    top:-30px;
    position:relative;
}

#spark-1 .block-1 .number {top:20px;opacity:0;}

#spark-2 .block-1 li {opacity:0;}

#spark-2 .block-2 li span {bottom:0;opacity:1;}
#spark-2 .block-2 li div {height:0;}
/* Spark Visible State */

.spark #spark-content aside {
    left:0px;
    opacity:1;
}

.spark #spark-content nav li {
    top:0;
    opacity:1;
}

.spark-1 #spark-1 .block-1 .number {top:0;opacity:1;}

.spark-2 #spark-2 .block-1 li {opacity:1;}

.spark-2 #bar-chart li span {opacity:1;}
.spark-2 #bar-chart li:nth-child(1) span {bottom:14px;}
.spark-2 #bar-chart li:nth-child(1) div {height:6px;}
.spark-2 #bar-chart li:nth-child(2) span {bottom:32px;}
.spark-2 #bar-chart li:nth-child(2) div {height:24px;}
.spark-2 #bar-chart li:nth-child(3) span {bottom:45px;}
.spark-2 #bar-chart li:nth-child(3) div {height:37px;}
.spark-2 #bar-chart li:nth-child(4) span {bottom:66px;}
.spark-2 #bar-chart li:nth-child(4) div {height:58px;}
.spark-2 #bar-chart li:nth-child(5) span {bottom:94px;}
.spark-2 #bar-chart li:nth-child(5) div {height:86px;}
.spark-2 #bar-chart li:nth-child(6) span {bottom:103px;}
.spark-2 #bar-chart li:nth-child(6) div {height:95px;}

/* Firefox Hidden State */

#layers li {
    opacity:0;
}

/* Firefox Visible State */

.firefox #phone-wrapper {opacity:0;}
.firefox #layers li {opacity:1;}
.firefox #phone-layer-1 {top:0px;}
.firefox #phone-layer-2 {top:120px;}
.firefox #phone-layer-3 {top:240px;}
.firefox #phone-layer-4 {top:360px;}

.firefox #layers li:hover {
    left:20px;
}

.transit #spark-content article {opacity:0;}