body section {
    -moz-transition:0.5s all ease;
    -webkit-transition:0.5s all ease;
    -o-transition:0.5s all ease;
}

header nav .left, header nav .right {
    -moz-transition:0.5s all ease;
    -webkit-transition:0.5s all ease;
    -o-transition:0.5s all ease;
}

.block {
    -moz-transition:0.5s opacity linear;
    -webkit-transition:0.5s opacity linear;
    -o-transition:0.5s opacity linear;
    opacity:0;
    position:relative;
}

#layers li {
    -moz-transition:0.5s top cubic-bezier(0.8,0,0.2,1), 0.5s opacity linear, 0.2s left ease;
    -webkit-transition:0.5s top cubic-bezier(0.8,0,0.2,1), 0.5s opacity linear, 0.2s left ease;
    -o-transition:0.5s top cubic-bezier(0.8,0,0.2,1), 0.5s opacity linear, 0.2s left ease;
}

.spark-1 #spark-1 .block-1 {-moz-transition-delay:0s;-webkit-transition-delay:0s;-o-transition-delay:0s;}
.spark-1 #spark-1 .block-2 {-moz-transition-delay:0.5s;-webkit-transition-delay:0.15s;-o-transition-delay:0.15s;}
.spark-1 #spark-1 .block-3 {-moz-transition-delay:1s;-webkit-transition-delay:0.3s;-o-transition-delay:0.3s;}
.spark-1 #spark-1 .block-4 {-moz-transition-delay:1.5s;-webkit-transition-delay:0.45s;-o-transition-delay:0.45s;}
.spark-1 #spark-1 .block-5 {-moz-transition-delay:2s;-webkit-transition-delay:0.6s;-o-transition-delay:0.6s;}

.spark-2 #spark-2 .block-1 {-moz-transition-delay:0s;-webkit-transition-delay:0s;-o-transition-delay:0s;}
.spark-2 #spark-2 .block-2 {-moz-transition-delay:0.5s;-webkit-transition-delay:0.15s;-o-transition-delay:0.15s;}
.spark-2 #spark-2 .block-3 {-moz-transition-delay:1s;-webkit-transition-delay:0.3s;-o-transition-delay:0.3s;}
.spark-2 #spark-2 .block-4 {-moz-transition-delay:1.5s;-webkit-transition-delay:0.45s;-o-transition-delay:0.45s;}
.spark-2 #spark-2 .block-5 {-moz-transition-delay:2s;-webkit-transition-delay:0.6s;-o-transition-delay:0.6s;}

.spark-3 #spark-3 .block-1 {-moz-transition-delay:0s;-webkit-transition-delay:0s;-o-transition-delay:0s;}
.spark-3 #spark-3 .block-2 {-moz-transition-delay:0.5s;-webkit-transition-delay:0.15s;-o-transition-delay:0.15s;}
.spark-3 #spark-3 .block-3 {-moz-transition-delay:1s;-webkit-transition-delay:0.3s;-o-transition-delay:0.3s;}
.spark-3 #spark-3 .block-4 {-moz-transition-delay:1.5s;-webkit-transition-delay:0.45s;-o-transition-delay:0.45s;}

/* home */
#phone-wrapper {
    -moz-transition:0.5s opacity ease;
    -webkit-transition:0.5s opacity ease;
    -o-transition:0.5s opacity ease;
    }

#main-copy {
    -moz-transition:0.25s top ease, 0.25s opacity linear;
    -webkit-transition:0.25s top ease, 0.25s opacity linear;
    -o-transition:0.25s top ease, 0.25s opacity linear;
}

#home-wrapper {
    -moz-transition:0.5s all ease;
    -webkit-transition:0.5s all ease;
    -o-transition:0.5s all ease;
}

/* spark */

#spark-content aside {-moz-transition:0.5s all ease;-webkit-transition:0.5s all ease;-o-transition:0.5s all ease;}

#spark-content nav li {-moz-transition:0.2s all ease;-webkit-transition:0.2s all ease;-o-transition:0.2s all ease;}
#spark-content nav li:nth-child(1) {-moz-transition-delay:0.25s;-webkit-transition-delay:0.25s;-o-transition-delay:0.25s;}
#spark-content nav li:nth-child(2) {-moz-transition-delay:0.4s;-webkit-transition-delay:0.4s;-o-transition-delay:0.4s;}
#spark-content nav li:nth-child(3) {-moz-transition-delay:0.65s;-webkit-transition-delay:0.65s;-o-transition-delay:0.65s;}

#spark-2 .block-1 li {-moz-transition:0.2s opacity linear;-webkit-transition:0.2s opacity linear;-o-transition:0.2s opacity linear;}
.spark-2 #spark-2 .block-1 li.one {-moz-transition-delay:0s;-webkit-transition-delay:0s;-o-transition-delay:0s;}
.spark-2 #spark-2 .block-1 li.two {-moz-transition-delay:0.1s;-webkit-transition-delay:0.1s;-o-transition-delay:0.1s;}
.spark-2 #spark-2 .block-1 li.three {-moz-transition-delay:0.15s;-webkit-transition-delay:0.15s;-o-transition-delay:0.15s;}
.spark-2 #spark-2 .block-1 li.four {-moz-transition-delay:0.20s;-webkit-transition-delay:0.20s;-o-transition-delay:0.20s;}
.spark-2 #spark-2 .block-1 li.five {-moz-transition-delay:0.25s;-webkit-transition-delay:0.25s;-o-transition-delay:0.25s;}
.spark-2 #spark-2 .block-1 li.six {-moz-transition-delay:0.30s;-webkit-transition-delay:0.30s;-o-transition-delay:0.30s;}

#spark-2 .block-2 li span, #spark-2 .block-2 li div {-moz-transition:0.2s all ease;}
.spark-2 #spark-2 .block-2 li:nth-child(1) span, .spark-2 #spark-2 .block-2 li:nth-child(1) div {-moz-transition-delay:0.5s;}
.spark-2 #spark-2 .block-2 li:nth-child(2) span, .spark-2 #spark-2 .block-2 li:nth-child(2) div {-moz-transition-delay:0.6s;}
.spark-2 #spark-2 .block-2 li:nth-child(3) span, .spark-2 #spark-2 .block-2 li:nth-child(3) div {-moz-transition-delay:0.7s;}
.spark-2 #spark-2 .block-2 li:nth-child(4) span, .spark-2 #spark-2 .block-2 li:nth-child(4) div {-moz-transition-delay:0.8s;}
.spark-2 #spark-2 .block-2 li:nth-child(5) span, .spark-2 #spark-2 .block-2 li:nth-child(5) div {-moz-transition-delay:0.9s;}
.spark-2 #spark-2 .block-2 li:nth-child(6) span, .spark-2 #spark-2 .block-2 li:nth-child(6) div {-moz-transition-delay:1s;}

/* firefox */
#separator .arrow {
    -moz-transition:0.35s top ease, 0.35s opacity ease 0.25s;
    -webkit-transition:0.35s top ease, 0.35s opacity ease 0.25s;
    -o-transition:0.35s top ease, 0.35s opacity ease 0.25s;
}

#separator .line {
    -moz-transition:0.35s height ease 0.25s;
    -webkit-transition:0.35s height ease 0.25s;
    -o-transition:0.35s height ease 0.25s;
}

.tooltip {
    -moz-transition:0.2s all ease;
}