<nav class="page-nav">
    {% if prev %}
    <div class="left">
        <a href="{{ prev }}" class="left">
            {# L10n: Navigation link to previous page #}
            <span class="arrow left"></span>
            <span class="nav">{{ _('Back') }}</span>
        </a>
    </div>
    {% endif %}
    <div class="middle">
        <ul>
            <li class="one active"></li>
            <li class="two"></li>
            <li class="three"></li>
        </ul>
    </div>
    {% if next %}
    <div class="right">
        <a href="{{ next }}" class="right">
            {# L10n: Navigation link to next page #}
            <span class="nav">{{ _('Next') }}</span>
            <span class="arrow right"></span>
        </a>
    </div>
    {% endif %}
</nav>

{% if False %}
{# L10n: Navigation link to homepage #}
{{ _('Home') }}
{% endif %}