<noscript>
    <div class="no-js">
        {{ _('You will need to enable JavaScript in order to use this site') }}
    </div>
</noscript>
<header>
    <div class="container">
        <a href="http://www.mozilla.com" id="moz-tab"></a>
        <a href="/" id="moz-logo"></a>
        <a href="http://www.mozilla.com/mobile/download/" id="ff-download">
            <div id="download-arrow"></div>
            {% if is_translated("<em>Get Firefox</em> for mobile <strong>- FREE</strong>", LANG) %}
                {{ _('<em>Get Firefox</em> for mobile <strong>- FREE</strong>') }}
            </a>
            {% else %}
                {{ _('<em>Get Firefox</em> for mobile') }}
             </a>
             <span id="ff-download-copy">{{ _('Available <span>free</span> for Android and the Nokia N900') }}</span>
            {% endif %}
    </div>
    <div class="container">
        <nav>
            <div class="left">
                <a id="back-to-home"><div></div>{{ _('Back to home') }}</a>
            </div>
            <div class="right">
                <a id="to-spark-page">{{ _('To Spark results') }}<div></div></a>
                <a id="to-firefox-page">{{ _('Learn more about Firefox') }}<div></div></a>
            </div>
        </nav>
    </div>
</header>

{# Alternate strings for navigation links #}
{% if False %}
{{ _('Home') }}
{{ _('Spark results') }}
{{ _('Inside Firefox') }}
{% endif %}