{% set numbers = ['one', 'two', 'three', 'four', 'five', 'six'] %}

{# Around the Globe #}
<article id="spark-2">
    <div class="block block-1">
        <span class="title">{{ _('Most Sparked <em>Cities</em>') }}</span>
        <div id="active-cities">
            <ol>
                {% for city, country in cities %}
                <li class="{{ numbers[loop.index - 1] }}">
                    <div class="tooltip">
                        <div class="arrow top"></div>
                        <strong>{{ city }}</strong>
                        {{ country }}
                    </div>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="block block-2" id="continents">
        {# L10n: Preceded by the number of continents #}
        <span class="big-number">6</span><span class="title">{{ _('<em>Continents</em> Sparked') }}</span>
        <div id="bar-chart" class="silent">
            <ol>
                {% for continent, percentage in continents %}
                <li class="{{ numbers[loop.index - 1] }}"><span>{{ percentage }}%</span><div class="bar"></div>
                    <div class="tooltip">
                        <div class="arrow top"></div>
                        {{ continent }}
                    </div>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="block block-3 countup">
            {% set total_shares = 4616 %}
            {# L10n: Preceded by the number of shares. #}
        <span class="big-number number">{{ total_shares|numberfmt }}</span><span class="title"><strong>{{ _('Total Shares') }}</strong><span>{{ _('<em>Total Sparks</em> Worldwide') }}</span></span>
    </div>

    <div class="block block-4 countup">
        {# L10n: Preceded by the number of countries #}
        <span class="big-number number">159</span><span class="title">{{ _('<em>Countries</em> Sparked') }}</span>
    </div>

    <div class="block block-5">
        <span class="title">{{ _('Most Active <em>Countries</em>') }}</span>
        <ol id="active-countries">
            {% for country in countries %}
            <li class="{{ numbers[loop.index - 1] }}">
                <span class="number">#{{ loop.index }}</span>
                <div class="tooltip">
                    <div class="arrow top"></div>
                    {{ country }}
                </div>
            </li>
            {% endfor %}
        </ol>
    </div>
</article>