<article id="spark-3">
    <div class="block block-1">
        {# L10n: Title of a table listing the top 10 players. #}
        <span class="title">{{ _('Spark <em>Leaderboard</em>') }}</span>
        
        <ol class="silent">
            {% for name, num_shares, num_badges, cc in top_players %}
            <li><div class="flag flag-{{cc}}"></div>{{ loop.index }}. {{ name }}
                <div class="shares">{{ num_shares }}</div><div class="star"></div>
                <div class="tooltip">
                    <div class="arrow left"></div>
                    {{ player_tooltips[name] }}
                </div>
            </li>
            {% endfor %}
        </ol>
        
        <p>
        {{ _('Huge thanks to all players for their participation, the top 10 players will receive a well-deserved Firefox T-shirt. Congratulations, super sparkers!') }}
        </p>
    </div>

    <div class="block block-2">
        {# L10n: Title of a ring chart showing player level distribution. #}
        <span class="title">{{ _('<em>Levels</em> Breakdown') }}</span>
        <canvas width="126" height="126"></canvas>
        <ol class="breakdown silent">
            {% for level, percentage in levels %}
            <li>
                <div class="tooltip">
                    <div class="arrow top"></div>
                    <strong>{{percentage}}%</strong>
                    <span>{{level}}</span>
                </div>
            </li>
            {% endfor %}
        </ol>
    </div>

    <div class="block block-3 countup">
        {% set total_badges = 40087 %}
        {# L10n: Preceded by the number of badges #}
        <span class="big-number number">{{ total_badges|numberfmt }}</span><span class="title">{{ _('Total Earned <em>Badges</em>') }}</span>
    </div>

    <div class="block block-4">
        <ol id="badges">
            <li class="one">
                <span class="number">43%</span>
                <div class="badge-img">
                    <div class="tooltip">
                        <div class="arrow top"></div>
                        <span class="badge-name">On Location</span>
                        <p class="badge-desc">You told us your location, kudos to you!</p>
                    </div>
                    <canvas width="80" height="80"></canvas>
                </div>
            </li>
            <li class="two">
                <span class="number">34%</span>
                <div class="badge-img">
                    <div class="tooltip">
                        <div class="arrow top"></div>
                        <span class="badge-name">Parent trap</span>
                        <p class="badge-desc">You told us where you got your Spark, congrats!</p>
                    </div>
                    <canvas width="80" height="80"></canvas>
                </div>
            </li>
        </ol>
        <span class="title">{{ _('Most Earned <em>Badges</em>') }}</span>
    </div>
</article>