<article id="spark-1">
    <div class="block block-1 trigger countup">
        <div>
            {% set total_shares = 4616 %}
            <span class="number silent">{{ total_shares|numberfmt }}</span>
            <span class="small-text">
                {# L10n: Preceded by the number of shares. #}
                {{ _('Total Shares') }}
            </span>
        </div>
        <div class="sprite" id="total-shares-img"></div>
    </div>
    <div class="block block-2">
        <span class="title">
            {{ _('<em>How people shared</em> their Spark') }}
        </span>
        <canvas width="150" height="150"></canvas>
        <ol class="breakdown silent">
            <li>
                75%
                <div class="tooltip">
                    <div class="arrow top"></div>
                    {{ _('via QR Code') }}
                </div>
            </li>
            <li>
                14%
                <div class="tooltip">
                    <div class="arrow top"></div>
                    {{ _('via Facebook') }}
                </div>
            </li>
            <li>
                11%
                <div class="tooltip">
                    <div class="arrow top"></div>
                    {{ _('via Twitter') }}
                </div>
            </li>
        </ol>
    </div>
    <div class="block block-3">
        <span class="title">
            {{ _('<em>Shares</em> over time') }}
        </span>
        <div id="share-history-graph">
            <canvas width="500" height="120">
            </canvas>
            <ol>
            {% for n in share_history %}
            <li>{{ n|numberfmt }}</li>
            {% endfor %}
            </ol>
            <div class="tooltip silent">
                <div class="arrow bottom"></div>
                <div class="number"></div>
                <span>{{week_number}}</span>
            </div>
        </div>
    </div>
    <div class="block block-4 countup">
        <div class="sprite" id="twitter-shares-img"></div>
        <div class="number">
            {% set twitter_shares = 427 %}
            {{ twitter_shares|numberfmt }}
        </div>
        <span>{{ _('<em>Shares</em> via Twitter') }}</span>
    </div>
    <div class="block block-5 countup">
        <div class="sprite" id="facebook-shares-img"></div>
        <div class="number">
            {% set fb_shares = 508 %}
            {{ fb_shares|numberfmt }}
        </div>
        <span>{{ _('<em>Shares</em> via Facebook') }}</span>
    </div>
</article>




{# Pie chart tooltips #}
{% if False %}
{{ _('via Poster') }}
{% endif %}

{# Alternate strings #}
{% if False %}
{{ _('Number <span>of</span> Tweets') }}
{{ _('<em>Facebook</em> messages') }}
{% endif %}