<article id="spark-1">
    <div class="block block-1 trigger countup">
        <div>
            <span class="number silent">132,850</span>
            <span class="small-text">
                {# L10n: Preceded by the number of shares. #}
                {{ _('Total Shares') }}
            </span>
        </div>
        <div class="sprite" id="total-shares-img"></div>
    </div>
    <div class="block block-2">
        <span class="title">
            {{ _('<em>How people shared</em> their Spark') }}
        </span>
        <canvas width="150" height="150"></canvas>
        <ol class="breakdown silent">
            <li>
                46%
                <div class="tooltip">
                    <div class="arrow top"></div>
                    {{ _('via Facebook') }}
                </div>
            </li>
            <li>
                34%
                <div class="tooltip">
                    <div class="arrow top"></div>
                    {{ _('via Twitter') }}
                </div>
            </li>
            <li>
                20%
                <div class="tooltip">
                    <div class="arrow top"></div>
                    {{ _('via QR Code') }}
                </div>
            </li>
        </ol>
    </div>
    <div class="block block-3">
        <span class="title">
            {{ _('<em>Shares</em> over time') }}
        </span>
        <div id="share-history-graph">
            <canvas width="500" height="120">
            </canvas>
            <div class="tooltip silent">
                <div class="arrow bottom"></div>
                <div class="number">4,500</div>
                <span>Week #4</span>
            </div>
        </div>
    </div>
    <div class="block block-4 countup">
        <div class="sprite" id="twitter-shares-img"></div>
        <div class="number silent">
            3,189
        </div>
        <span>{{ _('<em>Shares</em> via Twitter') }}</span>
    </div>
    <div class="block block-5 countup">
        <div class="sprite" id="facebook-shares-img"></div>
        <div class="number">
            8,235
        </div>
        <span>{{ _('<em>Shares</em> via Facebook') }}</span>
    </div>
</article>




{# Pie chart tooltips #}
{% if False %}
{{ _('via Poster') }}
{% endif %}

{# Alternate strings #}
{% if False %}
{{ _('Number <span>of</span> Tweets') }}
{{ _('<em>Facebook</em> messages') }}
{% endif %}