#home-header h1 {
    font-family:'LG', 'Arial Narrow', sans-serif;
    color:#ddd;
    text-transform:uppercase;
    text-align:center;
    padding:30px 0;
    position:relative;
    z-index:10;
}

#home-header h1 .first-line {
    font-size:80px;
    line-height:80%;
    color:#f7e35f;
    text-shadow:2px -1px 0px #302f2e, 3px -3px 0px #666;
}

#home-header h1 .second-line {
    font-family:'Georgia', 'Times New Roman', serif;
    font-style:italic;
    text-transform:none;
    font-size:16px;
    display:block;
    line-height:40px;
}

#home-header h1 .second-line img {
    padding:0 10px;
    position:relative;
    top:-4px;
}

#home-header h1 .third-line {
    font-size:40px;
    line-height:120%;
    text-shadow:2px -1px 0px #302f2e, 3px -3px 0px #666;
}

#home-illu {
    margin:-250px auto 0;
    display:block;
    position:relative;
    z-index:0;
    width:300px;
}

#main-copy {
    color:#bbb;
    font-family:'Museo500', 'Trebuchet MS', sans-serif;
    font-size:14px;
    margin-top:20px;
}

#main-copy h1 {
    color:#ddd;
    margin-bottom:15px;
}

#main-copy h1 .big-text {
    font-family:'LG', 'Arial Narrow', sans-serif;
    font-size:30px;
    display:block;
    text-transform:uppercase;
}

#main-copy p {
    line-height:133%;
    text-align:left;
}

a.button {
    color:#302f2e;
    text-decoration:none;
    padding:10px;
    border-radius:4px;
    display:block;
    max-width:240px;
    background:-moz-linear-gradient(90deg, #f7e35e, #ffed6e);
    background:-webkit-gradient(linear, center bottom, center top, from(#f7e35e), to(#ffed6e));
    box-shadow:0px 4px 0px #ad9d35, 0px 2px 8px rgba(0,0,0,0.6);
    -webkit-box-shadow:0px 4px 0px #ad9d35, 0px 2px 8px rgba(0,0,0,0.6);
    -o-box-shadow:0px 4px 0px #ad9d35, 0px 2px 8px rgba(0,0,0,0.6);
    font-family:'Georgia', 'Times New Roman', serif;
    font-size:12px;
    font-style:italic;
    text-align:center;
    margin:20px auto;
}

a.button em {
    font-family:'LG', 'Arial Narrow', sans-serif;
    font-size:30px;
    font-style:normal;
    text-transform:uppercase;
    display:block;
}