#sharing h1 {
    font-family:'LG', 'Arial Narrow', sans-serif;
    color:#ede0ab;
    text-transform:uppercase;
    text-align:center;
}

#sharing h1 em {
    color:#ddd;
}

#sharing h1 span {
    font-family:Georgia, 'Times New Roman', serif;
    font-style:italic;
    text-transform:none;
    font-size:0.5em;
    position:relative;
    top:-0.5em;
}

#sharing .number {
    font-size:5em;
    display:block;
    font-family:'LG', 'Arial Narrow', sans-serif;
}

#sharing .title {
    text-transform:uppercase;
    color:#ede0ab;
    font-size:1.2em;
}

#total-shares-img {
    height:115px;
    width:200px;
    background:url('../../img/mobile/spritesheet.png') no-repeat -50px 0;
    margin:20px auto;
}

@media screen and (orientation:portrait) {
    #sharing h1 {
        font-size:4em;
    }
}

@media screen and (orientation:landscape) {
    #sharing h1 {
        font-size:5.8em;
    }
    
    #sharing .block-2 canvas, #sharing .block-2 .breakdown, #sharing .block-2 .legend {
        float:left;
    }
    
    #sharing .block-2 .breakdown {
        margin:0 0 0 -150px;
    }
    
    #sharing .block-2 .legend {
        margin:0 0 0 40px;
    }
}

#sharing .block-2 em {
    color:#ede0ab;
    text-transform:uppercase;
    display:block;
    font-size:1.2em;
    font-style:normal;
    font-family:'Museo500', Helvetica, Arial, sans-serif;
    line-height:150%;
}

#sharing .block-2 .title {
    font-family:Georgia, 'Times New Roman', serif;
    font-style:italic;
    text-transform:none;
    color:#bbb;
    font-size:1em;
}

#sharing .block-2 canvas {
    clear:both;
    display:block;
    margin:20px auto 0;
    height:150px;
    width:150px;
    background:#000;
}

#sharing .block-2 .breakdown {
    height:150px;
    text-align:center;
    margin:-150px auto 0 auto;
    position:relative;
    font-family:'LG', 'Arial Narrow', sans-serif;
    color:#eee;
    text-shadow:0px 2px 0px rgba(0,0,0,0.25);
    width:150px;
}

#sharing .block-2 .breakdown li {
    position:absolute;
}

#sharing .block-2 .breakdown li:nth-child(1) {
    font-size:36px;
    top:47px;
    left:91px;
}

#sharing .block-2 .breakdown li:nth-child(2) {
    font-size:30px;
    top:89px;
    left:30px;
}

#sharing .block-2 .breakdown li:nth-child(3) {
    font-size:24px;
    top:24px;
    left:33px;
}

#sharing .legend {
    margin-top:10px;
    width:150px;
    margin:10px auto 0;
}

#sharing .block-2 .legend li {
    padding:5px 0;
    text-align:left;
    font-style:italic;
    font-family:'Georgia', 'Times New Roman', serif;
}

#sharing .block-2 .legend li .color {
    height:15px;
    width:15px;
    margin-right:10px;
    float:left;
}

#sharing .block-2 li:nth-child(1) .color {background:#ee3939;}
#sharing .block-2 li:nth-child(2) .color {background:#ec5f39;}
#sharing .block-2 li:nth-child(3) .color {background:#fbad46;}

#share-history {
    width:90%;
    text-align:left;
    margin:20px auto 0;
}

#share-history .number {
    font-family:inherit;
    font-size:inherit;
    display:inline;
    float:right;
}

#share-history li {
    padding:10px 10px;
}

#share-history li:nth-child(even) {
    background:rgba(255,255,255,0.05);
}

#sharing .block-4 .img {
    height:19px;
    width:27px;
    background:url('../../img/mobile/spritesheet.png') no-repeat 0 -50px;
    margin:0 auto;
}

#sharing .block-5 .img {
    height:24px;
    width:25px;
    background:url('../../img/mobile/spritesheet.png') no-repeat 0 -100px;
    margin:0 auto;
}

#sharing .block-4 .title, #sharing .block-5 .title {
    font-family:Georgia, 'Times New Roman', serif;
    font-style:italic;
    text-transform:none;
    color:#ddd;
    margin-top:5px;
    display:block;
}

#sharing .block-4 .title em, #sharing .block-5 .title em {
    text-transform:uppercase;
    font-family:'Museo500', 'Trebuchet MS', sans-serif;
    color:#ede0ab;
    font-style:normal;
}