{% extends 'eol/mobile/page.html' %}

{% block pagecontent %}
<section id="around">
    <h1>
        {{ _('<em>Around</em> <span>the</span> Globe') }}
    </h1>
    
    <div id="active-cities" class="block block-1">
        <span class="title">{{ _('Most Sparked <em>Cities</em>') }}</span>
        <div id="active-cities-img"></div>
        <ol>
            {% for city, country in cities %}
            <li><span class="rank">{{ loop.index }}.</span><span class="city">{{ city }}</span><span class="country">{{ country }}</span></li>
            {% endfor %}
        </ol>
    </div>

    <div class="block block-2" id="continents">
        <span class="number">6</span><span class="title">{{ _('<em>Continents</em> Sparked') }}</span>
        <ol id="bar-chart">
            {% for continent, percentage in continents %}
            <li>
                <div class="continent">{{ continent }}</div>
                <div class="bar"></div>
                <span>{{ percentage }}%</span>
            </li>
            {% endfor %}
        </ol>
    </div>
    
    <div class="block block-3">
        {% set total_shares = 4616 %}
        <span class="number">{{ total_shares|numberfmt }}</span>
        <span class="title">
            {# L10n: Preceded by the number of shares. #}
            <em>{{ _('Total Shares') }}</em>
        </span>
    </div>

    <div class="block block-4">
        {# L10n: Preceded by the number of countries #}
        <span class="number">159</span>
        <span class="title">{{ _('<em>Countries</em> Sparked') }}</span>
    </div>
    
    <div class="block block-5">
        <span class="title">{{ _('Most Active <em>Countries</em>') }}</span>
        <ol id="active-countries">
            {% for country in countries %}
            <li>
                <div class="country"></div>
                <span>{{ country }}</span>
            </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}