{% extends 'eol/mobile/page.html' %}

{% block pagecontent %}
<section id="hall">
    <h1>
        {{ _('<em>Hall</em> <span>of</span> Fame') }}
    </h1>

    <div class="block block-1">
           {# L10n: Title of a table listing the top 10 players. #}
           <span class="title">{{ _('Spark <em>Leaderboard</em>') }}</span>

           <ol id="leaderboard">
               {% for name, num_shares, num_badges, cc in top_players %}
               <li><div class="flag flag-{{cc}}"></div>
                   {{ loop.index }}. {{ name }}
                   <div class="shares">{{ num_shares }}</div>
                   <div class="star"></div>
               </li>
               {% endfor %}
           </ol>

           <p>
           {{ _('Huge thanks to all players for their participation, the top 10 players will receive a well-deserved Firefox T-shirt. Congratulations, super sparkers!') }}
           </p>
       </div>
       
       <div class="block block-2">
           {# L10n: Title of a ring chart showing player level distribution. #}
           <span class="title">{{ _('<em>Levels</em> Breakdown') }}</span>
           <canvas width="126" height="126"></canvas>
           <ol class="breakdown">
               <li>45%</li>
               <li>55%</li>
               <li>&lt; 1%</li>
           </ol>
           <ul class="legend">
               {% for level, p in levels %}
               <li><div class="color"></div>{{ level }}</li>
               {% endfor %}
           </ul>
       </div>
       
       <div class="block block-3">
           {% set total_badges = 40087 %}
           {# L10n: Preceded by the number of badges #}
           <span class="number">{{ total_badges|numberfmt }}</span><span class="title">{{ _('Total Earned <em>Badges</em>') }}</span>
       </div>
       
       <div class="block block-4">
           <span class="title">{{ _('Most Earned <em>Badges</em>') }}</span>
           <ol id="badges">
               <li class="one">
                   <div class="badge-img"></div>
                   <div class="desc">
                       <span class="percentage">43%</span>
                       <div>
                           <span class="badge-name">On Location</span>
                           <p class="badge-desc">You told us your location, kudos to you!</p>
                       </div>
                   </div>
               </li>
               <li class="two">
                   <div class="badge-img"></div>
                   <div class="desc">
                       <span class="percentage">34%</span>
                       <div>
                           <span class="badge-name">Parent trap</span>
                           <p class="badge-desc">You told us where you got your Spark, congrats!</p>
                       </div>
                   </div>
               </li>
           </ol>
       </div>
</section>
{% endblock %}