{% extends 'eol/mobile/page.html' %}

{% block pagecontent %}
<section id="hall">
    <h1>
        {{ _('<em>Hall</em> <span>of</span> Fame') }}
    </h1>

    <div class="block block-1">
           {# L10n: Title of a table listing the top 10 players. #}
           <span class="title">{{ _('Spark <em>Leaderboard</em>') }}</span>

           <ol id="leaderboard">
               <li><div class="flag flag-us"></div>
                   1. Batman
                   <div class="shares">169</div>
                   <div class="star"></div>
               </li>
               <li><div class="flag flag-es"></div>2. Jack
                   <div class="shares">69</div><div class="star"></div>
               </li>
               <li><div class="flag flag-fr"></div>3. Michael Jackson
                   <div class="shares">43</div><div class="star"></div>
               </li>
               <li><div class="flag flag-gb"></div>4. Leeroy Jenkins
                   <div class="shares">30</div><div class="star"></div>
               </li>
               <li><div class="flag flag-br"></div>5. Luke Skywalker
                   <div class="shares">28</div><div class="star"></div>
               </li>
               <li><div class="flag flag-de"></div>6. Guigui
                   <div class="shares">25</div><div class="star"></div>
               </li>
               <li><div class="flag flag-cn"></div>7. Franck
                   <div class="shares">19</div><div class="star"></div>
               </li>
               <li><div class="flag flag-ru"></div>8. Bob
                   <div class="shares">14</div><div class="star"></div>
               </li>
               <li><div class="flag flag-ar"></div>9. Superman
                   <div class="shares">11</div><div class="star"></div>
               </li>
               <li><div class="flag flag-ca"></div>10. Miguel
                   <div class="shares">10</div><div class="star"></div>
               </li>
           </ol>

           <p>
           {{ _('Huge thanks to all players for their participation, the top 10 players will receive a well-deserved Firefox T-shirt. Congratulations, super sparkers!') }}
           </p>
       </div>
       
       <div class="block block-2">
           {# L10n: Title of a ring chart showing player level repartition. #}
           <span class="title">{{ _('<em>Levels</em> Breakdown') }}</span>
           <canvas width="126" height="126"></canvas>
           <ol class="breakdown">
               <li>46%</li>
               <li>23%</li>
               <li>12%</li>
               <li>2%</li>
           </ol>
           <ul class="legend">
               <li><div class="color"></div>Level 1</li>
               <li><div class="color"></div>Level 2</li>
               <li><div class="color"></div>Level 3</li>
               <li><div class="color"></div>Level 4</li>
           </ul>
       </div>
       
       <div class="block block-3">
           {# L10n: Preceded by the number of badges #}
           <span class="number">42,190</span><span class="title">{{ _('Total Earned <em>Badges</em>') }}</span>
       </div>
       
       <div class="block block-4">
           <span class="title">{{ _('Most Earned <em>Badges</em>') }}</span>
           <ol id="badges">
               <li class="one">
                   <div class="badge-img"></div>
                   <div class="desc">
                       <span class="percentage">82%</span>
                       <div>
                           <span class="badge-name">On Location</span>
                           <p class="badge-desc">You told us your location, kudos to you!</p>
                       </div>
                   </div>
               </li>
               <li class="two">
                   <div class="badge-img"></div>
                   <div class="desc">
                       <span class="percentage">48%</span>
                       <div>
                           <span class="badge-name">Parent trap</span>
                           <p class="badge-desc">You told us where you got your Spark, congrats!</p>
                       </div>
                   </div>
               </li>
           </ol>
       </div>
</section>
{% endblock %}