
{{ _('<em>Sharing</em> <span>the</span> Spark') }}
{{ _('<em>Around</em> <span>the</span> Globe') }}
{{ _('<em>Hall</em> <span>of</span> Fame') }}

{{ _('Spark is now over') }}
{{ _('Thanks to all participants!') }}

{{ _('Share This Page') }}

{# L10n: Navigation link to homepage #}
{{ _('Home') }}

{# L10n: Navigation link to previous page #}
{{ _('Back') }}

{# L10n: Navigation link to next page #}
{{ _('Next') }}

{# L10n: Navigation link to top of the page #}
{{ _('Back to top') }}

{{ _('<em>Get firefox</em> for mobile') }}