{% extends 'eol/mobile/base.html' %}

{% block content %}
<header id="home-header">
    <h1>
        <span class="first-line">
            {# L10n: This is part of the headline: "Spark powered by Firefox for mobile" #}
            {{ _('Spark') }}
        </span>
        <span class="second-line">
            <img src="{{ MEDIA_URL }}img/line.png" alt="">
            {# L10n: This is part of the headline: "Spark powered by Firefox for mobile" #}
            {{ _('powered by') }}
            <img src="{{ MEDIA_URL }}img/line.png" alt="">
        </span>
        <span class="third-line">
            {# L10n: This is part of the headline: "Spark powered by Firefox for mobile" #}
            {{ _('Firefox for mobile') }}
        </span>
    </h1>
</header>

<img id="home-illu" src="{{ MEDIA_URL }}img/mobile/phone.png" alt="">
<section id="main-copy">
    <h1>
        <span class="big-text">{{ _('Spark is now over') }}</span>
        <span class="small-text"></span>{{ _('Thanks to all participants!') }}
    </h1>
    
    <p>
        {% if is_translated("Spark celebrated the release of Firefox for Android, making the mobile Web glow bright. Enjoy the game's results!", LANG) %}
            {% trans %}
            Spark celebrated the release of Firefox for Android, making the mobile Web glow bright. Enjoy the game's results!
            {% endtrans %}
        {% else %}
            {% trans %}
            Spark was created to celebrate the release of Firefox for Android and encouraged sharing the browser with friends across the globe. 
            Together we helped the flame of the mobile Web glow bright. See how well everyone has performed!
            {% endtrans %}
        {% endif %}
    </p>
</section>

<a href="{{ url('eol.sharing') }}" class="nav-link">{{ _('See the complete <em>Game Results</em>') }}<span class="arrow"></span></a>
<a href="http://www.firefox.com/m" id="ff-download" class="button">{{ _('<em>Get firefox</em> for mobile') }}</a>
{% if False %}
{{ _('Share This Page') }}


{# L10n: Navigation link to top of the page #}
{{ _('Back to top') }}
{% endif %}

{% endblock %}
