{% extends 'eol/mobile/page.html' %}

{% block pagecontent %}
<section id="sharing">
    <h1>
        {{ _('<em>Sharing</em> <span>the</span> Spark') }}
    </h1>
    
    <div class="block block-1">
        <div>
            {% set total_shares = 4616 %}
            <span class="number">{{ total_shares|numberfmt }}</span>
            <span class="title">
                {# L10n: Preceded by the number of shares. #}
                {{ _('Total Shares') }}
            </span>
        </div>
        <div class="sprite" id="total-shares-img"></div>
    </div>
    <div class="block block-2">
        <span class="title">
            {{ _('<em>How people shared</em> their Spark') }}
        </span>
        <canvas width="150" height="150"></canvas>
        <ol class="breakdown">
            <li>
                75%
            </li>
            <li>
                14%
            </li>
            <li>
                11%
            </li>
        </ol>
        <ul class="legend">
            <li><div class="color"></div>{{ _('via QR Code') }}</li>
            <li><div class="color"></div>{{ _('via Facebook') }}</li>
            <li><div class="color"></div>{{ _('via Twitter') }}</li>
        </ul>
    </div>
    
    <div class="block block-3">
        <span class="title">
            {{ _('<em>Shares</em> over time') }}
        </span>
        <ol id="share-history">
            {% for week, value in share_history %}
            <li><span class="week">{{ week }}</span><span class="number">{{ value|numberfmt }}</span></li>
            {% endfor %}
        </ol>
    </div>
    
    <div class="block block-4">
        <div class="img"></div>
        <span class="title">{{ _('<em>Shares</em> via Twitter') }}</span>
        <div class="number">
            {% set twitter_shares = 427 %}
            {{ twitter_shares|numberfmt }}
        </div>
    </div>
    
    <div class="block block-5 countup">
        <div class="img"></div>
        <span class="title">{{ _('<em>Shares</em> via Facebook') }}</span>
        <div class="number">
            {% set fb_shares = 508 %}
            {{ fb_shares|numberfmt }}
        </div>
    </div>
</section>
{% endblock %}